@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;                /* To make sure that there is no white space around the edges of the project itself */
    font-family: raleway;
    background-color: rgb(129, 191, 4);
}

img {
    max-width: 100%;  /* Allowing the image to properly scale accordingly with different size adjustments */
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.flex > div {
    flex: 1 1;
    text-align: justify;
}

.col2 {
    margin: 2rem 0;
    transition: all 1s ease;
}

h1 {
    font-size: 4rem;
    margin: 3rem 0 0 0;
    font-family: TheNightWatch, 'Amarante', serif;
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

.col1 {
    transition: all 1s ease;
}

.col1:hover {
    background-color: rgba(206, 206, 206, 0.436);
    padding: 1rem;
    transform: scale(1.1);
}

.col2:hover {
    background-color: rgba(206, 206, 206, 0.436);
    padding: 1rem;
    transform: scale(1.1);
}


@media ( min-width: 600px ) {
    .flex {
        display: flex;
    }

    .col2 {
        margin-left: 5rem;
        margin-top: 0;
    }
}


/* 

<main>
        <div class="container">
            <h1>Alphaura Signature</h1>
            <h2>The meaning of Alphaura and its signature</h2>
            <div class="flex">
                <div class="col1">
                    <h3>Alphaura</h3>
                    <p>In reality the word <em>"Alphaura"</em> is actualy 2 words, which are <em>"Alpha"</em> and <em>"Aura"</em>. The wording of the 
                        brand name is mainly referring to two things;<br>
                    <br>
                    Alpha; <strong><em>The alpha wolf concept of fighting for what you want, the alpha wave and the power of mindfulness and the flow</em></strong><br>
                    <br>
                    Aura; <strong><em>The wolf's spirit meaning -> Strong connection with your instincts or intuition, High intelligence, Loyalty and communication,
                         Deep desire for freedom</em></strong><br>
                    <br>
                    These are the foundations the name brand is built on. As a person, I've always looked for the next great thing, yet, I've tried too hard, without
                    any doing. Once I understood the myself, my journey, and the meaning and power of mindfulness, I started doing, hence why, I created this brand
                    and its brand name to share this knowledge in a creative way.
                     </p>
                </div>
                <div class="col2">
                    <h3>Signature</h3>
                    <p>I wanted to create something extra, were one can understand that this is Alphaura, without needing to read the actual brand name,
                         so I created a signature. I wasn't sure what to do as a signature, but one night while I was setting of to sleep, the <em>"Alpha"</em>
                         wave came in and did its thing. The signature is also split in two parts, one being the <em>"A"</em> for Alphaura, and the biggest part is the actual <em>"Alpha Wave"</em>.
                    </p>
                </div>
            </div>
        </div>
    </main>*/